html,
body {
  height: 100%;
  width: 100%;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30%;
  width: 100%;
}

.logo {
  height: calc(100% - 20px);
  width: 50%;
  background-image: url('/images/vizzuality-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
